<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <a class="navbar-brand"  routerLink="/galleries">All galleries</a> 
  <a class="navbar-brand" *ngIf="!auth.isAuthenticated" routerLink="/login">Log In</a> 
  <a class="navbar-brand" *ngIf="!auth.isAuthenticated" routerLink="/register">Register</a> 
  <a class="navbar-brand" *ngIf="auth.isAuthenticated" routerLink="/my-galleries">My galleries</a> 
  <a class="navbar-brand" *ngIf="auth.isAuthenticated" routerLink="/create">Create new gallery</a> 
  <a class="navbar-brand" *ngIf="auth.isAuthenticated" (click)="auth.logout()">Logout</a> 

</nav>
<div class="container">
<router-outlet></router-outlet>
</div>