<h3>{{ gallery.name }}</h3>
<p><a routerLink="/author/{{gallery.user?.id}}">{{ gallery.user?.first_name }} {{ gallery.user?.last_name }}</a></p>
<p>{{ gallery.description }}</p>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div  class="carousel-item"  *ngFor="let url of gallery.image_url; let index = index" [class.active]="index == 0" >
                <!-- <a href="{{ url }}" target="_blank"> -->
                    <img src="{{ url }}" class="d-block w-100" alt="">
                <!-- </a> -->
            </div>
        </div>
        
    
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
</div>
<hr>
    <p>Comments</p>
    <div>
        <ul *ngFor="let comment of gallery.comments">
          
            <li>
                <p> {{ comment?.text }}</p>
                <p> {{ comment.user?.first_name }}</p>

            </li>
        </ul>
    </div>  

<app-comment-form></app-comment-form>




    <!-- *ngFor="let image of gallery.image_url; let index = index" [class.active]="index == 0" -->